<html lang="en">
<head>
    <title>
        <%=title %>
    </title>
</head>
<body>
<%- include('partial/sidebar')%>
<main>
    <h1>
        <%=title %>
    </h1>
    <section>
        <%
        DBData.forEach(function (item) {
        %>
        <a href="genre/<%=item.id%>"><%=item.genre_name%></a><br>
        <%
        })
        %>
    </section>
</main>
</body>
</html>