<html lang="en">
<head>
    <title>
        <%=title%>
    </title>
</head>
<body>
<%- include('partial/sidebar')%>
    <main>
    <h1>
        <%=title%>
    </h1>
    <%
    dbData.forEach(function(data){
%>
    <div>
        <p><a href="game/<%=data.id%>"><%=data.game_name%></a>, <%=data.game_price%> €</p>
    </div>
    <%
    })
    %>
    </main>
</body>
</html>